 *.pyc,
 __pycache__/,
    venv/,
    .idea/,
    .vscode/,
    my_secret_file.txt,
    .ipynb_checkpoints,
    *.ipynb,
    .log,
    .idea/,
    DS_Store
venv
**/.env*
**/.db.json*
.idea
.vscode
**/__pycache__
**/.DS_Store
.DS_Store/
logs/
.idea/
data/scrapes_staging_storage/

